/* Turn message container back into column */
.oneByTwoGrid__44b90 {
  flex-direction: column !important;
  max-height: none !important;
}

/* Unset 1/1 aspect ratio */
.loadingOverlay__4d818 {
  aspect-ratio: unset !important;
  margin: 2.5px 0;
}
